#root {
  margin:10px;
}

ul {
  padding:0;
}

li {
  list-style: none;
  margin-bottom: 4px;
}

/* picker */
.picker {

}

.picker select {
  float:right;
  margin-right:8px;
}

.picker h1 {}

.picker-data {}

/* spellposts */
.spell-book-container {
  margin-bottom:24px;
}

.spell-book-container .panel-body {
  padding: 8px;
}

.spell-book-container ul {
  padding:0;
}
